body {
  background-color: whitesmoke;
  font-family: "Open Sans", Verdana, sans-serif;
}

nav li {
  display: inline-block;
}

nav ul {
  padding: 0px;
}
nav a {
  color: #025951;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
