@font-face {
  font-family: 'montserrat'
  <style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
</style>
}

body {
  background-color: whitesmoke;

h1 {
  color: #025951;
}

nav li {
  display: inline-block;
}

nav ul {
  padding: 0px;
}
nav a {
  color: #025951;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.active {
  background-color: #025951;
  color: white;
}

footer::before,
footer::after {
  content: "/";
  color: #025951;
  font-size: 30px;
  font-weight: bold;
}
